// Variables
// ============================================================================
$medium-screen-breakpoint:    768px;
$large-screen-breakpoint:     1024px;
$spacing:                     15px;
$large-spacing:               2 * $spacing;
$content-width:               50em;
$sidebar-content-width:       12em;

// Implementation
// ============================================================================
@mixin medium-screen() { 
  @media (min-width: $medium-screen-breakpoint) { @content; } 
}
@mixin large-screen() { 
  @media (min-width: $large-screen-breakpoint) { @content; } 
}
$site-header-height: calc(2 * #{$spacing} + 1em);
$site-nav-width: calc(#{$sidebar-content-width} + 2 * #{$large-spacing});

// Body
// ----
.content {
  // Box
  display: flex;
  box-sizing: border-box;
  @include medium-screen { padding-left: $site-nav-width; }
  // For showing the sidebar on mobile we just shift the whole content right
  #menu-toggle:checked ~ & { 
    transform: translate($site-nav-width);
    @include medium-screen { transform: none; padding-left: 0; }
  }
  // Other
  flex-direction: column;
  align-items: center;
}

// Site Header
// -----------
.site-header {
  // Box
  display: flex;
  box-sizing: border-box;
  height: $site-header-height;
  width: 100%;
  padding: $spacing;
  // Other
  flex-direction: row;
  align-items: center;
  // Children
  .menu-button {
    cursor: pointer;
    .menu-icon {
      display: block;
      svg path { fill: $primary-text-color; }
    }    
  }
}

// Site Nav
// --------
.site-nav {
  // Position
  position: fixed;
  top: 0;
  right: 100%;
  // On larger screens the content stays in place and we move the sidebar in
  @include medium-screen { left: 0; right: unset; }
  #menu-toggle:checked ~ * & { 
    @include medium-screen { left: unset; right: 100%; }
  }
  // Box
  display: flex;
  height: 100%;
  width: $site-nav-width;
  border-right: 1px solid $divider-color;
  // Appearance
  background-color: #FFF;
  // Other
  flex-direction: column;
  overflow-y: scroll;
  // Children
  .site-search {
    position: relative;
    display: block;
    height: $site-header-height;
    border-bottom: 1px solid $divider-color;
    flex: 0 0 auto;
    input {
      position: absolute;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 100%;
      padding-left: $large-spacing;
      padding-right: $large-spacing;
    }
  }

  .nav-branch {
    position: relative;
    &.can-expand:before {
      position: absolute;
      top: calc(#{$spacing} - 0.2em); 
      left: calc(#{$large-spacing}/2 - 1em/2); 
      color: $secondary-text-color;
      content: "\25B8";
      cursor: pointer;
      font-size: 120%;
    }
    & > .nav-branch {
      display: none;
      margin-left: $item-spacing;
      font-size: 90%;
    }
    &.expanded {
      & > .nav-branch { display: block; }
      &:before { content: "\25BE"; }
    }
  }

  .nav-link {
    display: block;
    color: $secondary-text-color;
    &.selected { color: $primary-text-color; }
    padding: $large-spacing/2 $large-spacing;
    text-decoration: none;
    &:hover { background-color: $well-background-color; }
    p {
      margin: $item-spacing/2 0;
      color: $primary-text-color;
      font-size: 90%;
    }
  }

}

// Site Main
//----------
.site-main {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(#{$content-width} + 2 * #{$spacing});
  padding: $spacing;
  @include medium-screen { 
    max-width: calc(#{$content-width} + 2 * #{$large-spacing});
    padding: $large-spacing;
  }
}